body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    width: auto;
    height: max-content;
    display: flex;
    justify-content: center;
}

.nav-container>nav>ul {
    display: flex;
    list-style: none;
   
}

.nav-container>nav>ul>li>a {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-right: 72px;
    font-size: 18px;
    color: #000;
}

.image-container {
    width: 1400px;
    height: 552px;
    margin: 0 auto;
    display: flex;
    justify-content:stretch;
}

.header-text {
    width: 1400px;
    height: auto;
    text-align: center;
    color: #000000;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 60px;
}

.content-text {
    width: 856px;
    height: auto;
    color: #161616;
    font-size: 21px;
    font-weight: 500;
    margin: 0 auto;
    padding-top: 12px;
}

.stressed-text {
    color: rgb(1, 187, 187);
    font-weight: bold;
}

.content-list {
    width: 856px;
    height: auto;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 40px;    
}

.button {
    text-align: center;
    max-width: 100%;
    width: max-content;
    background-color: #04959E;
    color: #FFF;
    padding: 10px 24px;
    text-decoration: none; 
    margin: 0 auto;
    display: block;  
    
}


.footer-content {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    border-top: 1px solid #161616;
    margin-top: 88px;

}